<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.boletimescolar">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_boletim"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_boletim_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ListaMaterias"
            android:label="@string/title_activity_lista_materias"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".CadastroNotaActivity" />
        <activity
            android:name=".ListaMateriaActivity"
            android:label="@string/title_activity_lista_materia"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InicioActivity2"
            android:label="@string/title_activity_inicio2"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".CadastroUsuarioActivity" /> <!-- <activity -->
        <!-- android:name=".Nota" -->
        <!-- android:label="@string/title_activity_nota" -->
        <!-- android:theme="@style/AppTheme.NoActionBar" /> -->
        <activity
            android:name=".MateriaActivity"
            android:label="@string/title_activity_materia"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".UsuarioActivity" /> <!-- <activity android:name=".SplashScreen" /> -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>